@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');

body {
    background: url("../img/fundo-avaliacao.jpg") no-repeat center center/cover;
    background-attachment: fixed;  
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.btn {
    background-color: var(--destaque-color);
    color: var(--branco);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 0.4rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.btn:hover,
.btn:focus {
    filter: brightness(0.9);
    outline: none;
    box-shadow: 0 0 0 3px rgba(217, 4, 22, 0.5);
}

/* Títulos das seções */
.title {
    font-size: 4rem;
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

/* span dentro do título */
.title span {
    color: var(--destaque-color);

}

.avaliacao {
    margin-top: 15rem;
    max-width: 70rem;
    color: var(--bege);

}

.avaliacao h2 {
    color: var(--bege);
    font-size: 2rem;
    line-height: 1.1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
} 

.avaliacao p {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem 0;
}

.caixa {
    background: #2b2826;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
    /* 672px */
    padding-top: 2.5rem;
    /* 40px */
}

.caixa:hover {
    transform: scale(1.05);
}

.avaliacao a {
    margin-top: 1rem;
}

.avaliacao .caixa .hora {
    text-align: right;
    display: block;
}

.footer{
    background-color: var(--bg);
}