@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');

.menu {
    margin-top: 15rem;
}

.title {
    font-size: 4rem;
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

/* span dentro do título */
.title span {
    color: var(--destaque-color);

}

.container h2 {
    font-size: 2.5rem;
    color: var(--bege);
    text-transform: uppercase;
    padding: 2rem 0;
}

.section-menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.section-menu .box-container .box {
    background-color: var(--bg-sec);
    text-align: center;
    border: var(--border);
    border-radius: 2rem;
    padding: 3rem 0;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.section-menu .box-container .box img {
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
}

.section-menu .box-container .box h3 {
    color: var(--black);
    font-size: 2rem;
    padding: 0.5rem 1rem;

}

.section-menu .box-container .box .price {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;

}

.section-menu .box-container .box p {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
}


.section-menu .box-container .box:hover {
    /* background-color: #9C370D; */
    transform: translateY(-0.5rem);
}

/* .section-menu .box-container .box:hover>* {
    color: var(--bege);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.068);

} */


@media (max-width: 768px) {
    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .container h2 {
        font-size: 2rem;
    }

    .section-menu .box-container {
        gap: 2rem;
    }

    .section-menu .box-container .box h3 {
        font-size: 1.8rem;
    }

    .section-menu .box-container .box .price,
    .section-menu .box-container .box p {
        font-size: 1.3rem;
    }
}


@media (max-width: 480px) {
    .title {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    .container h2 {
        font-size: 1.8rem;
    }

    .section-menu .box-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .section-menu .box-container .box h3 {
        font-size: 1.6rem;
    }

    .section-menu .box-container .box .price,
    .section-menu .box-container .box p {
        font-size: 1.3rem;
    }
}