@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');

/* Imagem de fundo fixa */
.back-fixo {
    background: url("../img/fundo.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

/* Botões */
.btn {
    background-color: var(--destaque-color);
    color: var(--branco);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 0.4rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

/* Efeito hover e foco nos botões */
.btn:hover,
.btn:focus {
    filter: brightness(0.9);
    outline: none;
    box-shadow: 0 0 0 3px rgba(217, 4, 22, 0.5);
}

/* Container da home */
.home-container {
    position: relative;
    z-index: 1;
    height: 100rem;
}

/* Seção dentro do home-container */
.home-container section {
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/* Container do conteúdo textual */
.home-container .content {
    max-width: 60rem;
    position: relative;
    z-index: 1;
    margin-top: 14rem;
}

/* Título principal da home */
.home-container .content h3 {
    color: var(--bege);
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1.1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

/* Parágrafo da home */
.home-container .content p {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    padding: 1rem 0;
    text-shadow: 1px 1px 1px black;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    animation-delay: 0.2s;
}
.fade-in p {
    text-shadow: 1px 1px 3px black;
}


.fundo {
    background-color: #0D0402;

}

/* Títulos das seções */
.title {
    font-size: 4rem;
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

/* span dentro do título */
.title span {
    color: var(--destaque-color);

}

/* Layout da seção sobre nós */

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-sec);
    gap: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    flex-wrap: wrap;
}

.about .row .container-img {
    flex: 2;
    /* ocupa metade do espaço */
    display: flex;
    justify-content: center;
}

/* Imagem seção about */
.about .row .container-img img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

/* Container de texto na seção about */
.about .row .content {
    flex: 1;
}

/* Título dentro da seção about */
.about .row .content h3 {
    color: var(--black);
    margin-bottom: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.1;
}

/* Parágrafos dentro da seção about */
.about .row .content p {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.menu .box-container .box {
    background-color: var(--bg-sec);
    text-align: center;
    border: var(--border);
    border-radius: 2rem;
    padding: 3rem 0;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.menu .box-container .box img {
    height: 15rem;
    width: 25rem;
    border-radius: 1rem;
}

.menu .box-container .box h3 {
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0;

}

.menu .box-container .box .price {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box:hover {
    /* background-color: #9C370D; */
    transform: translateY(-0.5rem);
}

/* .menu .box-container .box:hover>* {
    color: var(--bege);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.158);

} */

.avaliacao .row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-sec);
    gap: 2rem;
    border-radius: 3rem;
    flex-wrap: wrap;
}

.avaliacao .row .container-img {
    flex: 1;
    display: flex;
    justify-content: center;
}


.avaliacao .row .container-img img {
    width: 300px;
    max-width: 100%;
    height: auto;
}


.avaliacao .row .form-box {
    flex: 1;
}

.form-box {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    gap: 10px;

}

.form-box .title {
    padding: 2rem 3rem;
    font-size: 2rem;
    border-bottom: thin solid #ccc;

}

.form-box form button {
  flex-basis: 100%; /* força o botão a ocupar toda a largura da linha */
  margin: 1rem 0 1rem 0;
}

.form-box input,
.form-box textarea {
    width: calc(60%);
    height: 4rem;
    border-radius: 1rem;
    border: thin solid #999;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.estrela-select {
  display: flex;
  align-items: center;  /* Alinha verticalmente */
  gap: 0.5rem;           /* Espaço entre SVG e select */
}

.estrela-select svg {
    flex-shrink: 0;      /* Garante que o SVG não deforme */
<<<<<<< HEAD
    height: 30px;
    width: 30px;
=======
>>>>>>> 5d8583f2508362d4da490b64f6221eec56191fd7
}

.estrela-select select {
    font-size: 1rem;
<<<<<<< HEAD
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
=======
    padding: 0.3rem;
    border-radius: 1rem;
>>>>>>> 5d8583f2508362d4da490b64f6221eec56191fd7

}
.form-box textarea {
    width: 90%;
    height: 10rem;
}

.form-box button {
    display: block;
    border: none;
    outline: none;
    width: 12rem;
    height: 4rem;
    border-radius: 1rem;
    color: var(--branco);
    background-color: var(--black);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.form-box button:hover {
    transform: translateY(-0.5rem);
}

.alert {
    width: 100%;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
    color: white;
    font-weight: bold;
    animation: fadeIn 0.5s;
    z-index: 100;
}

.alert.success {
    background-color: green;
}

.close-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Media query para telas menores */

@media (max-width: 768px) {
    /* sessao home */
    /* .home-container .content h3 {
        font-size: 4.5rem;
    }
    .content p {
        font-size: 1.5rem;
    } */

    /* sessao about */
    .about .row {
        flex-direction: column;

        text-align: center;
    }

    .about .row .content h3 {
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.2rem;
    }

    .about .row .container-img img {
        width: 80%;

    }

    /* sessao avaliação */
    .avaliacao .row {
        flex-direction: column;
        text-align: center;
    }

    .avaliacao .row .container-img img {
        width: 60%;

    }
}

@media (max-width: 480px) {

    /* sessao home */
    .home-container .content h3 {
        font-size: 3.8rem;
    }

    .home-container .content p {
        font-size: 1.6rem;
    }
}

