/* Remove margens/paddings padrões */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out; /* Suavidade nas mundanças de estilo */
    box-sizing: border-box; /*facilita cálculo de tamanhos no layout */
}

/* Define altura total para html e body */
html,
body {
    height: 100%;
}

/* Scroll suave para toda a página */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}

/* Listas sem estilos */
ul,
ol {
    list-style: none;
}

/* Links sem sublinhado azul */
a {
    text-decoration: none;
    color: inherit;
}

/* Imagens não ultrapassam container */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    
}

/* Inputs e botões herdam fonte do body */
input,
button,
textarea,
select {
    font: inherit;
}

/* Espaçamento e largura padrão para seções */
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    z-index: 1;
}