@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.about {
    margin-top: 14rem;
}
.btn {
    background-color: var(--destaque-color);
    color: var(--branco);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 0.4rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.btn:hover,
.btn:focus {
    filter: brightness(0.9);
    outline: none;
    box-shadow: 0 0 0 3px rgba(217, 4, 22, 0.5);
}

/* Títulos das seções */
.title {
    font-size: 4rem;
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
}

/* span dentro do título */
.title span {
    color: var(--destaque-color);

}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2826;
    gap: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    flex-wrap: wrap; 
}

.about .row .content h2 {
    font-size: 2.5rem;
    color: var(--bege);
    text-transform: uppercase;
    padding: 2rem 0;
    line-height: 1.1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.about .row .content p {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem 0;
}

.footer {
    background-color: var(--bg);
}