/* Variáveis*/
:root {
    /* preto */
    --black: #000;
    /* branco */
    --branco: #fff;
    --bg: #0D0402;
    /* borda padrão */
    --border: 0.2rem solid #D9A566;
    /* cor de destaque bortão*/
    --destaque-color: #D90416;
    /* bg sec */
    --bg-sec: #f5f5f5;
    --bege: #D9A566;
    font-size: 10px;
    /* tamanho base para facilitar rem */
}