<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
    
        <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" type="image/png">
    
        <title>Document</title>
    </head>
        <!-- TEMPLATE BASE COM MENU, RODAPÉ, ETC. -->
<body>
    <header class="header">
        <section>
            <a href="#" class="logo">
                <img height="90" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </a>
            <nav class="navbar">
                <a href="{{ url_for('index') }}">Ínicio</a>
                <a href="{{ url_for('sobre') }}">Sobre</a>
                <a href="{{ url_for('cardapio') }}">Cardápio</a>
                <a href="{{ url_for('avaliacao') }}">Avaliações</a>
                <a href="{{ url_for('contato') }}">Endereço</a>
            </nav>
            <!-- <input class="pesquisatopo" type="text"> -->

            <div class="icons">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/ffffff/search--v2.png"
                    alt="search--v2" />
                <img width="20" height="20" src="https://img.icons8.com/material-rounded/20/ffffff/shopping-cart.png"
                    alt="shopping-cart" />
            </div>
        </section>
    </header>
        <!-- CONTEÚDO PRINCIPAL -->
        <main class="conteudo">
            {% block blockcontest %}

            {% endblock %}
        </main>
    </div>
        <!-- RODAPÉ -->
    <footer class="rodapé">
        <p>&copy; 2025 Escorrega na Banha. Todos os direitos reservados.</p>
    </footer>
</body>
</html>