{% extends "base.html" %}

{% block title %}inicio{% endblock %}

{% block blockcontest %}
    <div class="background-fixo"></div>
    <div class="home-container">
        <section id="home">
            <div class="content">
                <h3>Sabor que escorrega na memória, delícias que derretem no paladar!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde exercitationem iure nesciunt.
                    Voluptatum optio unde esse at distinctio placeat nobis beatae officiis temporibus quibusdam,
                    praesentium tempore ad reprehenderit, quidem magnam?</p>
                <a href="#" class="btn">Peça aqui!</a>
            </div>
        </section>
    </div>
    <section class="fundobranco">
        <section class="about" id="about">
            <h2 class="title">Sobre <span>Nós</span></h2>
            <div class="row">
                <div class="container-img">
                    <img src="{{ url_for('static', filename='img/sobrenos.png') }}" alt="buchada">
                </div>
                <div class="content">
                    <h3>O que faz nossa comida especial</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quasi voluptas, cupiditate
                        fugiat
                        harum maiores cumque ab non, porro repellendus nemo dolor ipsa velit totam amet accusantium
                        deleniti! Temporibus, ducimus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magnam, tempora delectus odio
                        rerum
                        similique, laudantium eum excepturi ut quia error modi dicta atque ullam consectetur
                        voluptatibus
                        magni placeat! Odio.</p>
                    <a href="#" class="btn btn-saiba-mais">Saiba mais</a>
                </div>
            </div>
        </section>
        <section class="menu" id="menu">
            <h2 class="title">Nosso <span>Cardápio</span></h2>
            <div class="box-container">
                <div>
                    <img src="" alt="">
                    <h3></h3>
                    <div></div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}