<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link para o arquivo CSS principal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Otimização para carregar fontes Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Fonte Roboto do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />

    <!-- Ícone da aba do navegador -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" type="image/png" />

    <title>{% block title %}Meu Site{% endblock %}</title>
</head>

<body>

    <!-- Cabeçalho fixo com logo, links e ícones -->
    <header class="header">
        <section>
            <a href="#" class="logo">
                <img height="100" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
            </a>
            <nav class="navbar">
                <a href="{{ url_for('main.index') }}">Ínicio</a>
                <a href="{{ url_for('main.sobre') }}">Sobre</a>
                <a href="{{ url_for('main.cardapio') }}">Cardápio</a>
                <a href="{{ url_for('main.avaliacao') }}">Avaliações</a>
                <a href="#">Endereço</a>
            </nav>
            <!-- Ícones para pesquisa e carrinho -->
            <div class="icons">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/ffffff/search--v2.png"
                    alt="search--v2" />
                <img width="20" height="20" src="https://img.icons8.com/material-rounded/20/ffffff/shopping-cart.png"
                    alt="shopping-cart" />
            </div>
        </section>
    </header>

    <!-- Conteúdo principal que será substituído por cada página via template engine -->
    <main class="conteudo">
        {% block blockcontest %}
        {% endblock %}
    </main>

    <!-- Rodapé fixo com direitos reservados -->
    <footer class="rodapé">
        <p>&copy; 2025 Escorrega na Banha. Todos os direitos reservados.</p>
    </footer>
</body>

</html>