<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link para o arquivo CSS principal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- Bloco para CSS de cada página -->
    {% block styles %}{% endblock %}

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Ícone da aba do navegador -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-96x96.png') }}" type="image/png" />

    <title>{% block title %}Meu Site{% endblock %}</title>
</head>

<body>

    <!-- Cabeçalho fixo com logo, links e ícones -->
    <header class="header">
        <section>
            <a href="#" class="logo">
                <img height="100" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
            </a>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="{{ url_for('main.index') }}">Início</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.sobre') }}">Sobre</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.cardapio') }}">Cardápio</a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.avaliacao') }}">Avaliações</a>
                    </li>
                </ul>
            </nav>

            <!-- Ícones para pesquisa e carrinho -->
            <div class="icons">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/20/ffffff/search--v2.png"
                    alt="search--v2" />
                <img width="20" height="20" src="https://img.icons8.com/material-rounded/20/ffffff/shopping-cart.png"
                    alt="shopping-cart" />
            </div>
        </section>
    </header>

    <!-- Conteúdo principal que será substituído por cada página via template engine -->
    <main class="conteudo">
        {% block blockcontest %}
        {% endblock %}
    </main>

    <!-- Rodapé fixo com direitos reservados -->
    <footer class="rodape">
        <p>&copy; 2025 Escorrega na Banha. Todos os direitos reservados.</p>
    </footer>

    <!-- Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>