{% extends "base.html" %}

{% block title %}Escorrega na Banha{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block blockcontest %}
<div id="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
        {{ message }}
        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="back-fixo">

    <div class="home-container">
        <section id="home">
            <div class="content">

                <h3 class="fade-in">Sabor que escorrega na memória, delícias que derretem no paladar!</h3>

                <p class="fade-in">No Escorrega na Banha, cada prato é um mergulho nas raízes do Nordeste, com sabores autênticos que despertam lembranças e aquecem o coração. Aqui, a comida é feita com afeto, tradição e aquele tempero arretado que transforma cada refeição em uma experiência inesquecível. Venha sentir o verdadeiro gosto da nossa cultura!</p>

                <a href="#menu" class="btn fade-in">Peça aqui!</a>
            </div>
        </section>
    </div>


    <div class="fundo">

        <section class="about" id="about">

            <h2 class="title">Sobre <span>Nós</span></h2>
            <div class="row">

                <div class="container-img">
                    <img src="{{ url_for('static', filename='img/sobrenos.png') }}" alt="buchada">
                </div>

                <div class="content">
                    <h3>O que faz nossa comida especial?</h3>
                    <p>No Escorrega na Banha, a comida é feita com alma nordestina. Usamos ingredientes frescos, receitas tradicionais e o tempero que vem do carinho por nossas raízes.</p>
                    <p>Cada prato é preparado como manda a cultura do sertão: simples, cheio de sabor e com aquele toque de gordura boa que dá sustança e aconchego.</p>
                    <p>Mais do que matar a fome, nossa comida desperta memória, afeto e orgulho de ser nordestino.</p>

                    <a href="{{ url_for('main.sobre') }}" class="btn btn-saiba-mais">Saiba mais</a>
                </div>
            </div>
        </section>

        <section class="menu" id="menu">
            <h2 class="title">Nosso <span>Cardápio</span></h2>

            <div class="box-container">
                <div class="box">
                    <img src="{{ url_for('static', filename='img/buchada.png') }}" alt="Buchada de Bode">
                    <h3>Buchada de Bode</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/Sarapatel.png') }}" alt="Sarapatel">
                    <h3>Sarapatel</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/moqueca.png') }}" alt="Moqueca de Peixe">
                    <h3>Moqueca de Peixe</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/cuscuz.png') }}" alt="Cuscuz Nordestino">
                    <h3>Cuscuz Nordestino</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/dobradinha.png') }}" alt="Dobradinha">
                    <h3>Dobradinha</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/iscas-de-peixe.png') }}" alt="Iscas de Peixe">
                    <h3>Iscas de Peixe</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
            </div>
            <a href="{{ url_for('main.cardapio') }}" class="btn btn-ver-mais">Ver mais</a>
        </section>

        <section class="avaliacao" id="avaliacao">
            <h2 class="title">Nos <span>Avaliem</span></h2>
            <div class="row">
                <div class="container-img">
                    <img src="{{ url_for('static', filename='img/avaliacao.png') }}" alt="buchada">
                </div>

                <div class="form-box">
                    <h2 class="title-form">Faça a sua avaliação</h2>

                    <form method="post">

                        <input type="text" name="title" placeholder="Seu nome" required>


                        <input type="email" name="email" placeholder="Seu email" required>


                        <textarea name="comentario" placeholder="Digite seu comentário"></textarea> <br>
                        <div class="estrela-select">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="gold">
                                <path d="M12 .587l3.668 7.431 8.2 1.193-5.934 5.787 1.4 8.167L12 18.896l-7.334 3.869 1.4-8.167L.132 9.211l8.2-1.193z"></path>
                            </svg>
                            <select id="nota" name="nota">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button type="submit">Enviar Avaliação</button>
                    </form>
                </div>
            </div>
            <a class="btn" href="{{ url_for('main.avaliacao') }}">Ver avaliações</a>

        </section>
    </div>
</div>
{% endblock %}