{% extends "base.html" %}

{% block title %}Escorrega na Banha{% endblock %}

{% block blockcontest %}
<div class="back-fixo">

    <div class="home-container">
        <section id="home">
            <div class="content">

                <h3 class="fade-in">Sabor que escorrega na memória, delícias que derretem no paladar!</h3>

                <p class="fade-in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde exercitationem iure
                    nesciunt.
                    Voluptatum optio unde esse at distinctio placeat nobis beatae officiis temporibus quibusdam,
                    praesentium tempore ad reprehenderit, quidem magnam?</p>

                <a href="#menu" class="btn fade-in">Peça aqui!</a>
            </div>
        </section>
    </div>


    <div class="fundobranco">

        <section class="about" id="about">

            <h2 class="title">Sobre <span>Nós</span></h2>
            <div class="row">

                <div class="container-img">
                    <img src="{{ url_for('static', filename='img/sobrenos.png') }}" alt="buchada">
                </div>

                <div class="content">
                    <h3>O que faz nossa comida especial</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quasi voluptas, cupiditate
                        fugiat
                        harum maiores cumque ab non, porro repellendus nemo dolor ipsa velit totam amet accusantium
                        deleniti! Temporibus, ducimus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magnam, tempora delectus odio
                        rerum
                        similique, laudantium eum excepturi ut quia error modi dicta atque ullam consectetur
                        voluptatibus
                        magni placeat! Odio.</p>

                    <a href="{{ url_for('main.sobre') }}" class="btn btn-saiba-mais">Saiba mais</a>
                </div>
            </div>
        </section>

        <section class="menu" id="menu">
            <h2 class="title">Nosso <span>Cardápio</span></h2>

            <div class="box-container">
                <div class="box">
                    <img src="{{ url_for('static', filename='img/buchada.png') }}" alt="Buchada de Bode">
                    <h3>Buchada de Bode</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/Sarapatel.png') }}" alt="Sarapatel">
                    <h3>Sarapatel</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/moqueca.png') }}" alt="Moqueca de Peixe">
                    <h3>Moqueca de Peixe</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/cuscuz.png') }}" alt="Cuscuz Nordestino">
                    <h3>Cuscuz Nordestino</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/dobradinha.png') }}" alt="Dobradinha">
                    <h3>Dobradinha</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
                <div class="box">
                    <img src="{{ url_for('static', filename='img/iscas-de-peixe.png') }}" alt="Iscas de Peixe">
                    <h3>Iscas de Peixe</h3>
                    <div class="price"> R$ 35,00</div>
                </div>
            </div>
            <a href="{{ url_for('main.cardapio') }}" class="btn btn-ver-mais">Ver mais</a>
        </section>
    </div>
    {% endblock %}