{% extends "base.html" %}

{% block title %}Sobre o Escorrega na Banha{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}" />
{% endblock %}

{% block blockcontest %}
<main>
    <section class="about">

        <h3 class="title">Sobre <span>Nós</span></h3>
        <div class="row">
            <div class="content">
                <h2>O que faz nossa comida especial</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quasi voluptas, cupiditate
                    fugiat
                    harum maiores cumque ab non, porro repellendus nemo dolor ipsa velit totam amet accusantium
                    deleniti! Temporibus, ducimus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magnam, tempora delectus odio
                    rerum
                    similique, laudantium eum excepturi ut quia error modi dicta atque ullam consectetur
                    voluptatibus
                    magni placeat! Odio.</p>

                <a href="{{ url_for('main.sobre') }}" class="btn btn-saiba-mais">Saiba mais</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}